In [16]:
#Trabajando con pandas
import pandas as pd
df = pd.read_csv('cars.csv')

In [24]:
pd.get_dummies(df['engine_type'])#one-hot

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

In [27]:
#Trabajando con sklearn
import sklearn.preprocessing as preprocessing

In [30]:
encoder = preprocessing.OneHotEncoder(handle_unknown='ignore')#para que incluya variables no consideradas o valores NAN

In [32]:
encoder.fit(df[['engine_type']].values)#Ajustar el enconder a las categorías del dataset

OneHotEncoder(handle_unknown='ignore')